.header {
	max-width: var(--max-width);
	width: 100%;
	background-color: var(--dark);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 7.0625rem;
	margin: 0 auto;
}

.header ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 43.75rem;
}

.header ul li {
	color: var(--white);
}

.header button {
	background-color: var(--green);
	width: 19.5rem;
	height: 3.0625rem;
	border-radius: 8px;
	border: 0px solid var(--green);
	color: var(--white);
	font-size: 24px;
	font-family: inherit;
}


